/* init */

body
{
  background-image  : url('pict/geek.jpg');
  font-family       : Verdana, "Courier New", "Lucida Console";
  font-size         : 14px;
  font-weight       : normal;
  padding           : 0px;
  margin            : 0px;
  overflow          : hidden;
}
/* email checker */

#emailChecker
{
  top : 420px;
  left : 25px;
  position          : absolute;
  background-color  : rgba(0, 0, 0, 1);
}


div, table, tr, td, th, h1, h2, h3, a, span, p, pre, fieldset, input, textarea, form, img, select
{
  font-family       : Verdana, "Courier New", "Lucida Console";
  font-size         : 14px;
  font-weight       : normal;
  padding           : 0px;
  margin            : 0px;
  color             : #FFF;
}


div#ram
{
	height: 120px;
	width: 400px;
	position : absolute;
	right : 100px;
	bottom : 520px;

}

div#bandePassante
{
	height: 120px;
	width: 400px;
	position : absolute;
	right : 100px;
	bottom : 380px;

}
div#pingu
{
	font-family       : Verdana, "Courier New", "Lucida Console";
	font-size         : 18
	px;
	font-weight       : normal;
	
	height: 120px;
	width: 400px;
	position : absolute;
	left : 0px;
	top : 275px;

}


img#ram{
	width : 500px;
}


img#imgBandePassante{

	width: 500px;
}

/* main */

div#main
{
  width             : 1920px;
  height            : 1080px;
  position          : relative;
  overflow          : hidden;
  color             : #FFF;
}


/* horloge */



div.horloge_heure
{
  font-family       :"Calibri";
  font-size         : 180px;
  background-color  : rgba(0, 0, 0, 1);
}

div.horloge_date
{
  font-family       :"Calibri";
  font-size         : 50px;
  background-color  : rgba(0, 0, 0, 1);
}

span.horloge_grey
{
  font-family       :"Calibri";	
  color             : #888;
  font-size         : inherit;
}

/* meteo */


div#meteo
{
font-family       :"Calibri	";
  right             : 0px;
  top               : 300px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 0);
  color             : #FFF;
  font-weight       : bold;
  text-align        : center;
}


/* ts3 */

div#ts3
{
  left              : 10px;
  bottom            : 200px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
  color             : #FFF;
  font-weight       : bold;

}

td.ts3_user
{
  text-align        : left;
  font-size         : 30px;
  padding-left      : 10px;
}

/* ping */

div#horloge
{
  right             : 0px;
  top               : 0px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
  color             : #FFF;
  font-weight       : bold;
  text-align        : center;
}

div#ping
{
  left              : 0px;
  top            	: 20px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
}

td.ping
{
  font-size         : 30px;
  text-align        : left;
  border-radius     : 10px;
  padding           : 5px 10px;
  font-weight       : bold;
}

td.ping_up
{
  color             : #00DD00;
}

td.ping_down
{
  background-image  : url('pict/warning.gif');
  color             : #DD0000;;
}

/* vpn */

div#vpn
{
  left              : 550px;
  bottom            : 10px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
  color : #FFF;
}

td.vpn
{
  text-align        : left;
  font-size         : 30px;
  padding           : 5px;
}

img.vpn
{
  width : 20px;
  height : 20px;
}

/* earth */

div#earth
{
  width             : 500px;
  height            : 500px;
  left              : 0px;
  top               : 0px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
}

/* moon */

div#moon
{
  width             : 250px;
  height            : 250px;
  left              : 500px;
  top               : 0px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
}

/* ifstat */

div#ifstat_oberon_up
{
  right             : 20px;
  bottom            : 20px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
}

div#ifstat_oberon_down
{
  right             : 340px;
  bottom            : 20px;
  position          : absolute;
  overflow          : hidden;
  background-color  : rgba(0, 0, 0, 1);
}

/* analytics */

div#analytics
{
  right             : 0px;
  bottom            : 130px;
  position          : absolute;
  overflow          : hidden;
  z-index           : 99999;
  background-color  : rgba(0, 0, 0, 1);
  border            : solid 0px #F00;
}

/* snow */

div.snow
{
  position          : absolute;
  width             : 1px;
  height            : 1px;
  font-weight       : bold;
  color             : #FFF;
  z-index           : 99999;
}
